.custom-width{width: 100px;}
.custom-toggle{display: none;}
.glyphicon{cursor: pointer;}
.center{   text-align: center;   }
table thead{ background: #3c8dbc;color: #fff;}
.logo-lg img{width: 100%;}
.SlideShowContainer table tr td{ vertical-align: middle;}
.error_text{ color: #ff0000; }
